/* CUSTOMIZE THE CAROUSEL
 -------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 60px;
}

.carousel .container {
	position: relative;
	z-index: 9;
}
/*
.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}*/

.carousel .item {
	height: 300px;
}

.carousel img {
	position: absolute;
	margin-top: -25%;
	min-width: 100%;
}

.carousel-caption {
	padding: 50px;
	background: hsla(0, 0%, 0% , 0.07);
}


.carousel-caption h1, .carousel-caption .lead {
	font-size:50px;
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
	margin-top: 10px;
}
.carousel-caption p{
	font-size:20px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}