<!-- Header -->
<header id="header">
    <h1 id="logo"><a href='{{ "/" | relative_url }}'>⟨phys|tw⟩</a></h1>
    <nav id="nav">
        <ul>
            <li>
                <a href="#">系學會</a>
                <ul>
                    <li><a href="https://studygroup.phys.tw" title="課業補強的好地方">物理系讀書會</a></li>
                    <li><a href="https://seminar.phys.tw" title="在每年的教師座談會上，學術部會邀請系上的教授介紹他們近年研究內容，或是研究路上的心路歷程。">教師座談</a>
                    </li>
                    <li><a href="http://it.phys.tw/">網路部</a></li>
                    <li><a href="http://exam.phys.tw/"
                            title="內有物理系考古題網站連結，物理系各科的期中、期末、段考題目經教授同意後公佈在考古題網站上，準備考試時可以多利用。也歡迎大家在考完試後將考卷投入系學會(R308)外的信封中造福未來修課的學弟妹。">考古題網站</a>
                    </li>
                    <li><a href='{{ "/posts" | relative_url }}' title="台大物理系新版電子佈告欄，還在測試中，敬請期待！">新版公佈欄（測試中）</a></li>
                    <li><a href="https://www.facebook.com/groups/ntuphysst/"
                            title="台大物理系大學部電子公告欄，各種關於物理系學生的事務都會在此版由系學會幹部成員們公佈，包括系上大小活動、學術演講和參訪、學生福利、失物招領、學生活動空間相關規定等都會經由此平台告知系上的學生。欲加入請私訊任何一個管理員說明身份。">台大物理系公布欄</a>
                    </li>
                    <li><a href="https://ntuphysics.blogspot.tw/"
                            title="台大物理系外部電子佈告欄，使用部落格形式儲存過往的所有公告，如果需要尋找以往的公告可以到這裡找。">台大物理系電子佈告欄</a></li>
                    <li><a href="https://www.facebook.com/groups/ntuphysalumni/"
                            title="物理系在學學生與系友的交流平台，提供自我介紹、認親、留學資訊、工作機會交流與分享、學術討論、生涯規劃分享與詢問等功能。欲加入請私訊管理員說明身份。">NTU
                            Physics Alumni Club</a></li>
                    <li><a href="https://spacetime.phys.tw/">物理系系刊《時空》</a></li>
                    <li>
                        <a href="#">系隊</a>
                        <ul>
                            <li><a href="https://sites.google.com/a/phys.tw/tt/">系桌</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">活動</a>
                        <ul>
                            <li><a href="https://camp.phys.tw/" title="台大物理系學生會於每年寒假時會例行舉辦之冬令營隊活動">台大物理營</a>
                            </li>
                            <li><a href='{{ "/physnight/index.html" | relative_url }}' title="十八般武藝且看我們各顯才華">物理之夜</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">相關連結</a>
                <ul>
                    <li><a href="https://www.ntu.edu.tw/">國立臺灣大學</a></li>
                    <li><a href="https://www.science.ntu.edu.tw/">國立臺灣大學理學院</a></li>
                    <li><a href="https://www.phys.ntu.edu.tw/">國立臺灣大學物理系</a></li>
                    <li><a href="http://phy.tw/" title="中央大學科學教育中心">phy.tw</a></li>
                </ul>
            </li>
            <li>
                <a href="#">歷史遺蹟</a>
                <ul>
                    <li><a href="https://azaleaday.phys.tw" title="引領高中生們進入物理世界">杜鵑花節（~2008）</a></li>
                    <li><a href="https://cup.phys.tw/" title="大物杯的歷史沿革">大物杯歷史（~2010）</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="button primary" title="Google Workspace Login">登入</a>
                <ul>
                    <li><a href="http://mail.phys.tw/" class="button primary" title="Email">電子郵件</a></li>
                    <li><a href="http://drive.phys.tw/" class="button primary" title="Drive">雲端硬碟</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSengQAapmP3tyBGBr3LplId5C-Pfs5RgVweZdi3dmr5LJpFzw/viewform"
                            class="button" title="Register">註冊</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>