<title>⟨phys|tw⟩</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="臺灣大學物理系學會" />
<meta name="author" content="台大物理" />
<meta content="⟨phys|tw⟩" property="og:title" />
<meta content="臺灣大學物理系學會" property="og:description" />
<meta content="website" property="og:type" />
<meta content="https://www.phys.tw/" property="og:url" />
<meta content="http://www.phys.tw/images/phybuilding.gif" property="og:image" />
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/site.webmanifest">
<!--new fontawesome-->
<script src="https://kit.fontawesome.com/86045eefed.js" crossorigin="anonymous"></script>
<noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" />
</noscript>